<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135415229642-eqiv5bku3tjv6jag14gm2q0ljjc60l7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135415229642-eqiv5bku3tjv6jag14gm2q0ljjc60l7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCuC6NLUpo2xuwp3lCc0Z3KTuQy6Evwqos</string>
	<key>GCM_SENDER_ID</key>
	<string>135415229642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventarioIbp</string>
	<key>PROJECT_ID</key>
	<string>inventario-ibp-2b71d</string>
	<key>STORAGE_BUCKET</key>
	<string>inventario-ibp-2b71d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135415229642:ios:85017431f6dca7b45e9833</string>
</dict>
</plist>